/** \file app.css
  * 
  * \brief This file describe the global css applied everywhere in the website.
  *
  * \author Mathieu Dique
*/
html {
  background-color: var(--bg);
  color: var(--fg);
}

/* Theme */
:root {
  --bg: #0d1117;
  --fg: #ecf2f8;
  --blue: #77bdfb;
  --lightblue: #a2d2fb;
  --green: #7ce38b;
  --orange: #faa356;
  --red: #fa7970;
  --purple: #cea5fb;
  --darkgrey: #21262d;
  --grey: #89929b;
  --dark: #161b22;
}
